---
// Súbor: src/components/ContactSection.astro
---
<section class="contact" id="contact">
 <h2 class="heading fade-in-element">Navštívte <span>nás</span></h2>
 <p class="fade-in-element">Radi vás privítame v našom ateliéri, poradíme s&nbsp;výberom, alebo pripravíme kyticu presne podľa vašich predstáv. Spojte sa s nami.</p>
 <div class="contact-info fade-in-element">
  <div class="info-item">
<i class='bx bxs-map'></i>
<p>Milana Rastislava Štefánika 360<br>914 01 Trenčianska Teplá</p>
  </div>
  <div class="info-item">
<i class='bx bxs-phone'></i>
<p><a href="tel:+421940181839">+421 940 18 18 39</a></p>
  </div>
  <div class="info-item">
<i class='bx bxs-envelope'></i>
<p><a href="mailto:kyticaodsrdca@gmail.com">kyticaodsrdca@gmail.com</a></p>
  </div>
 </div>
 <div class="map-container fade-in-element">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.0166389717374!2d18.115330376781355!3d48.9341248953734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471498ed83410c21%3A0x66485db2c9bd05e3!2sMilana%20Rastislava%20%C5%A0tef%C3%A1nika%20360%2C%20914%2001%20Tren%C4%8Dianska%20Tepl%C3%A1!5e0!3m2!1ssk!2ssk!4v1751097908537!5m2!1ssk!2ssk" title="mapa miesta kvetinárstva Kytica od srdca"  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
</section>