---
// Súbor: src/components/CreationsSection.astro
---
<section class="creations" id="creations">
 <h2 class="heading fade-in-element">Naša <span>Tvorba</span></h2>
 <div class="creations-container">
  <div class="creation-box tall fade-in-element">
<img src="/img/mini6.webp" alt="Biela svadobná kytica s ružami a pivóniou v rukách nevesty, kvetinárstvo Kytica od srdca Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Svadobný Sen</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/mini2.webp" alt="Elegantná kytica z bielych kál (cally) na pozadí Trenčianskeho hradu, Svadobné kvety kvetinárstvo Kytica od srdca Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Čistá elegancia</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/mini1.webp" alt="Svadobné kvetinové aranžmány na stoloch s ružami a zeleňou, Výzdoba udalostí Kytica od srdca" loading="lazy">
<div class="creation-layer"><h4>Svadobná romanca</h4></div>
  </div>
  <div class="creation-box tall fade-in-element">
<img src="/img/mini4.webp" alt="Kvetinový box plný farebných kvetov, Kytice na mieru Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Okamih krásy</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/mini3.webp" alt="Svadobná kytica z ružových a bielych ruží s gypsomilou, Svadobné kytice Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Vôňa Diaľok</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/1.webp" alt="Pestrá letná kytica s ružami a margarétkami, Kytica od srdca" loading="lazy">
<div class="creation-layer"><h4>Letný vánok</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/2.webp" alt="Jarná kytica z tulipánov a narcisov, Čerstvé kvety Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Jarné prebudenie</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/3.webp" alt="Exotická kytica s orchideami a tropickým lístím, Aranžmány Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Láska v každom lupeni</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/4.webp" alt="Exotická kytica z netradičných kvetov, Kvetinová tvorba Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Nadčasová vznešenosť</h4></div>
  </div>
  <div class="creation-box fade-in-element">
<img src="/img/veniec2.webp" alt="Pohrebný veniec s bielymi ľaliami a zeleňou, Smútočné vence Trenčianska Teplá" loading="lazy">
<div class="creation-layer"><h4>Spomienka v kvete</h4></div> 
  </div>
 </div>
</section>