---
// Súbor: src/components/Footer.astro
---
<footer class="footer">
 <div class="social-media">
  <a href="https://www.facebook.com/kyticaodsrdca/?locale=sk_SK" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><i class='bx bxl-facebook-square'></i></a>
 </div>
 <div class="footer-text">
  <p>© 2026 Kytica od srdca. Všetky práva vyhradené.</p>
 </div>
</footer>