---
// Súbor: src/components/GalleryModal.astro
---
<div class="modal" id="gallery-modal">
 <i class='bx bx-chevron-left modal-nav' id="modal-prev"></i>
 <div class="modal-content">
  <i class='bx bx-x' id="modal-close"></i>
  <img src="" alt="Náhľad kytice" class="modal-img" id="modal-img">
 </div>
 <i class='bx bx-chevron-right modal-nav' id="modal-next"></i>
</div>