---
// src/components/Header.astro
---
<header class="header">
 <a href="#home" class="logo logo-dark"><img src="/img/LOGO_KRUH-pinkwhite.svg" alt="Kvetinárstvo Kytica od srdca logo"></a>
 <a href="#home" class="logo logo-light"><img src="/img/Logo darkping.svg" alt="Kvetinárstvo Kytica od srdca logo"></a>
 
 <div class="nav-wrapper" id="nav-wrapper">
  <nav class="navbar">
<a href="/#home" class="active">Domov</a>
<a href="/#creations">Tvorba</a>
<a href="/#story">Príbeh</a>
<a href="/#blog">Blog</a>
<a href="/#contact">Kontakt</a>
  </nav>
 </div>

 <div class="mobile-icons">
  <i class='bx bx-sun theme-toggle-icon' id="theme-toggle"></i>
  <i class='bx bx-menu' id="menu-icon"></i>
 </div>
</header>