---
// src/components/Header.astro
---
<header class="header">
 <a href="#home" class="logo logo-dark"><img src="/img/LOGO_KRUH-pinkwhite.svg" alt="Kvetinárstvo Kytica od srdca logo"><span class="logo-text">Kytica od srdca</span></a>
 <a href="#home" class="logo logo-light"><img src="/img/Logo darkping.svg" alt="Kvetinárstvo Kytica od srdca logo"><span class="logo-text">Kytica od srdca</span></a>
 
 <div class="nav-wrapper" id="nav-wrapper">
  <nav class="navbar">
<a href="/#creations" class="active">Naša ponuka</a>
<a href="/#blog">Blog</a>
<a href="/#contact">Kde nás nájdete</a>
<a href="https://online.kyticaodsrdca.sk" target="_blank" rel="noopener noreferrer" class="nav-btn">Online ponuka &rarr;</a>
<a href="https://www.facebook.com/kyticaodsrdca/?locale=sk_SK" target="_blank" rel="noopener noreferrer" class="nav-social" aria-label="Facebook" style="font-size: 2.8rem; padding: 0; margin-left: 2rem; display: inline-flex; align-items: center;"><i class='bx bxl-facebook-square'></i></a>

  </nav>
 </div>

 <div class="mobile-icons">
  <i class='bx bx-sun theme-toggle-icon' id="theme-toggle"></i>
  <i class='bx bx-menu' id="menu-icon"></i>
 </div>
</header>