---
// Súbor: src/components/HeroSection.astro
---
<section class="home" id="home">
    <div class="overlay"></div>
    <div class="home-content">
        <h1 class="main-heading">
            „Prekvapte krásou, dotknite sa srdca."
            <span class="subheading">Kvetinárstvo Kytica od srdca v Trenčianskej Teplej</span>
        </h1>
        <div class="button-group">
            <a href="tel:+421940181839" class="btn btn-primary">Zavolať</a>
            <a href="https://www.facebook.com/kyticaodsrdca/?locale=sk_SK" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" id="fcHeroBtn">Facebook</a>
        </div>
    </div>
</section>