---
// Súbor: src/components/StorySection.astro
---
<section class="story" id="story">
 <div class="story-img fade-in-element">
  <img src="/img/obrazokobchodu.webp" alt="Fotografia z ateliéru kvetinárstva Kytica od srdca" loading="lazy">
 </div>
 <div class="story-content fade-in-element">
  <h3>Viazané s láskou a dušou</h3>
  <p>Naše kvetinárstvo s názvom Kytica od srdca nie je len obchod, je to miesto, kde príroda ožíva a stretáva sa s umením. Každá jedna kytica, každý kvetinový box, je starostlivo vytvorený rukami, ktoré poznajú krásu detailov a vážia si každý kúsok prírody. Veríme, že kvety dokážu vyjadriť viac než tisíc slov, a preto sa snažíme, aby každý náš výtvor bol malým umeleckým dielom.</p>
  <p>V našej ponuke nájdete nielen čerstvé sezónne a lokálne kvety, ktoré získavame z overených zdrojov, ale aj originálne darčeky, ručne vyrábanú keramiku a štýlové dekorácie. Každý produkt vyberáme s&nbsp;ohľadom na kvalitu, jedinečnosť a udržateľnosť, aby ste si mohli domov odniesť nielen krásu, ale aj príbeh.</p>
  <p>Srdečne vás pozývame navštíviť nás v srdci Trenčianskej Teplej. Príďte sa nadýchať sviežej vône kvetov, nechať sa inšpirovať našimi aranžmánmi a vybrať si ten pravý darček pre seba alebo svojich blízkych. Tešíme sa, že vám pomôžeme priniesť kúsok prírody a umenia priamo do vášho domova.</p>
  <p><b>Navštívte nás a nechajte sa očariť krásou, ktorú pre vás tvoríme!</b></p>
<a href="https://maps.app.goo.gl/Yx6LbvnbBTSySkMJ6" class="btn btn-primary btn-medium" target="_blank" rel="noopener noreferrer" id="storyBTN">Navštívte nás</a> 
 </div>
</section>